.hero {
    background: #f8f9fa;
}

.hero-img {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
    transition: transform 0.4s ease;
}

.hero-img:hover {
    transform: scale(1.03);
}

.btn-Turno {
    width: 150px;
    border-color: black;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.btn-Turno:hover {
    background: gray;
    border-color: black;
}

h2 {
    margin-bottom: 20px;
}

.btn-wsp {

    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #25D366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: #25D366;
    background-color: #fff;
}

#btnArriba {
    position: fixed;
    bottom: 100px;
    right: 30px;
    display: none;
    /* oculto al inicio */
    background-color: #495D63;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease;
    z-index: 999;
}

#btnArriba:hover {
    background-color: #405257;
}